<div class="page">
    <p style="text-align: center; font-size:30px; padding-top:3vh" id="ForFont">Password recovery</p>
    <form [formGroup]="resetpasswordformgroup" style="margin-top: 7vh; height: 60%;" (ngSubmit)="submit(resetpasswordformgroup.value)">
        <div class="form-group" style="display: flex; width: 100%; height: 100%; flex-flow: column wrap; align-content: center;">
            <p style="width:30vw">
                Forgot your account's password or having trouble logging into your Team? Enter your email address and we'll send you a recovery link.
            </p>
          <div class="container">
            <p id="ForFont" >Email</p>

            <div id="inputContainer" style="width:100%">
              <mat-form-field class="input-class" appearance="outline" style=" width: 30vw !important;">
                <input matInput formControlName="email"/>
              </mat-form-field>
            </div>
          
          </div>
            
          <div style="display: flex; justify-content: space-between;  margin-top: 15px;">
            <button mat-raised-button color=secondary id="myFormButtons">Send</button>
          </div>

          <p [ngClass]="error ? 'red' : ''" class="margin-top-5">{{ message }}</p>
        </div>
    </form>
</div>
