<form [formGroup]="resetPasswordForm" style="margin-top: 7vh; min-height: 60%;" (ngSubmit)="resetPassword(resetPasswordForm.value)">
    <div style="width: 100%; display: flex; flex-flow: column wrap; align-content: center;">
        <h2>Password Recovery</h2>
        <div *ngIf="showError" class="red">
            <span [innerHTML]="errorMessage"></span>
        </div>
    </div>

    <div *ngIf="showSuccess">
        Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
    </div>

    <div class="form-group"
        style="display: flex; width: 100%; height: 100%; flex-flow: column wrap; align-content: center;">
        <div class="container">
            <p id="ForFont">Password</p>

            <div id="inputContainer" style="width:30vw">
                <mat-form-field class="input-class" appearance="outline" style=" width: 30vw !important;">
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
                        style="background-color: white;" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

        </div>

        <div class="container">
            <p id="ForFont">Confirm password</p>

            <div id="inputContainer" style="width:30vw">
                <mat-form-field class="input-class" appearance="outline" style=" width: 30vw !important;">
                    <input matInput formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'"
                        style="background-color: white;" />
                    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

        </div>

        <div style="display: flex; justify-content: center;  margin-top: 15px;">
            <button mat-raised-button color=secondary id="myFormButtons">Reset password!</button>
        </div>
    </div>
</form>