.restaurant-image {
    // height: 120px;
    // width: 120px;
    width:100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 7px;
}

.restaurant-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:0px !important;
}

.restaurant-info {
    width: 65%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row wrap;
}

.star-gray {
    color: lightgray;
}

.euro-gray {
    color: lightgray;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top:3px;
    margin-bottom: 3px;
}

.image {
    display: flex;
    width: 35%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
}

mat-card-content {
    margin: 0 !important;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.rating-and-pricing {
    display: flex;
    flex-flow: row wrap;
    width:100%;
    justify-content: space-between;
}
