<div class="container">
    <app-user-info [userId]="userId"></app-user-info>

    <div class="m-top-30" *ngIf="shownReservations.length > 0">
        <h2>User Bookings</h2>

        <mat-card *ngFor="let booking of shownReservations" class="booking-card">
            <div class="booking-info">
                <div class="image">
                    <img [src]="getImageSource(booking.table.restaurant.mainImage.name)" class="booking-image"/>
                </div>
            
                <div class="date">
                    <h2>{{ booking.table.restaurant.name }}</h2>
                
                    <div>
                        <small class="gray" matLine>Date of the booking:</small>
                        <p matLine>{{ booking.date.toDateString() }}</p>
                    </div>
                    
                    <div>
                        <small class="gray" matLine>Time:</small>
                        <p matLine>{{ booking.date.toLocaleTimeString('ua-UA') }}</p>
                    </div>
                </div>
            </div>            
        
            <div class="ratings">
                <div class="flex">
                    <mat-icon [ngClass]="booking.table.restaurant.rating >= 1 ? '' : 'star-gray'">star_border</mat-icon>
                    <mat-icon [ngClass]="booking.table.restaurant.rating >= 2 ? '' : 'star-gray'">star_border</mat-icon>
                    <mat-icon [ngClass]="booking.table.restaurant.rating >= 3 ? '' : 'star-gray'">star_border</mat-icon>
                    <mat-icon [ngClass]="booking.table.restaurant.rating >= 4 ? '' : 'star-gray'">star_border</mat-icon>
                    <mat-icon [ngClass]="booking.table.restaurant.rating >= 5 ? '' : 'star-gray'">star_border</mat-icon>
                </div>
        
                <div class="flex">
                    <mat-icon [ngClass]="booking.table.restaurant.priceRange >= 1 ? '' : 'euro-gray'">euro</mat-icon>
                    <mat-icon [ngClass]="booking.table.restaurant.priceRange >= 2 ? '' : 'euro-gray'">euro</mat-icon>
                    <mat-icon [ngClass]="booking.table.restaurant.priceRange >= 3 ? '' : 'euro-gray'">euro</mat-icon>
                </div>
        
                <div class="flex">
                    <a [routerLink]="['/restaurant-page', booking.table.restaurant.id]"
                       mat-flat-button color="primary">
                        Discover
                    </a>
                </div>
            </div>
        </mat-card>

        <div class="flex m-top-30" *ngIf="shownReservations.length !== user.reservations.length">
            <button mat-flat-button color="primary" (click)="showMoreReservations()">Show previous</button>
        </div>
    </div>

    <div class="m-top-30" *ngIf="user.favourites.length > 0">
        <h2>User favourite restaurants</h2>

        <div class="restaurant-card" *ngFor="let restaurant of shownFavourites">
            <app-restaurant-card [restaurant]="restaurant"></app-restaurant-card>
        </div>

        <div class="flex m-top-30" *ngIf="shownFavourites.length !== user.favourites.length">
            <button mat-flat-button color="primary" (click)="showMoreFavourites()">Show more</button>
        </div>
    </div>
</div>
