@import "src/styles.scss";

.container {
    background-color: $background-color;
    display: flex;
}

.map {
    height: 100px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.image {
    background-image: url("../../../assets/map-with-pin.png");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    height: 100%;
}

.map-button {
    height: 100%;
    width: 100%;
}

.left {
    margin: 15px 30px 0px 160px;
    flex: 0 0 12%;
}

.right {
    margin: 15px 160px 0px 30px;
    width: 100%;
}

.discover {
    margin: 0 0 30px 0;
}

.discover-more {
    display: flex;
    justify-content: center;
}

.restaurant-card {
    margin: 20px 0px 20px 0px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
}

.reset-filters {
    margin: 0 0 10px 0;
}

h2 {
    margin: 0;
}

h4 {
    margin: 15px 0 0 0;
}

.negative-margin {
    margin: 0 0 0 -16px;
}

.line {
    display: inline-block;
    width: 116%;
    border-top: 0.2px solid lightgray;
}

.divider {
    margin: 20px 0 20px 0;
}

.divider-for-filters {
    margin: 0 0 10px 0;
}

agm-map {
    height: 300px !important;
    width: 100%;
}
